{% extends 'base.html' %}

{% block title %}
    Country
{% endblock %}

{% block header %}
    {{ len }}:
{% endblock %}

{% block content %}
<div>
    <ol>
        {% for p in co %}
            {% for j in p.languages %}
                {% if j == len %}
                    <li>
                        {{p.country}}
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>
</div>
{% endblock %}

{% block footer %}
    <a href="{% url 'lenguages' %}"> Вернуться к списку языков </a>
{% endblock %}